<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: head(title='TeleTok - Nuevo Post')"></head>
<body>
<div class="container container-app">
    <div th:replace="fragments/header.html :: header"></div>
    <div class="row justify-content-md-center mt-3">
        <div class="col col-xs-12 col-md-6">
            <div class="card">
                <div class="card-header navbar-light text-center" style="background-color: #e3f2fd;">
                    Nuevo Post
                </div>
                <div class="card-body">
                    <form method="post" class="user" th:action="@{/post/save}" th:object="${post}">
                        <div class="form-group">
                                <label for="media_url">Imagen</label>
                                <input name="media_url" type="text" class="form-control" id="media_url">
                                <div class="text-danger" th:if="${#fields.hasErrors('media_url')}" th:errors="*{media_url}">Error</div>

                        </div>
                        <div class="form-group">
                            <label for="description">Descripción</label>
                            <textarea class="form-control" id="description" name="description"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Publicar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/base.html :: jsScripts"></div>
</body>
</html>